html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	background: $color-base-bg;
	/* Fallback for when there is no custom background color defined. */
}

#page {
	position: relative;
	word-wrap: break-word;
}

.wrap {
	@include tablet {
		max-width: $viewport-measure-medium;
		padding-left: $space-2;
		padding-right: $space-2;
	}

	@include desktop {
		max-width: $viewport-measure-large;
		padding-left: $space-3;
		padding-right: $space-3;
	}

	margin-left: auto;
	margin-right: auto;
	max-width: $viewport-measure-small;
	padding-left: $space-1;
	padding-right: $space-1;

	&::after {
		clear: both;
		content: "";
		display: block;
	}
}

.has-sidebar {
	@include tablet {
		&:not(error404) #primary {
			float: left;
			width: 50%;
		}
		
		#secondary {
			float: right;
			padding-top: 0;
			width: 36%;
		}
	}
}

.error404 #primary {
	float: none;
}
