ul,
ol {
	margin: 0 0 $vertical-rhythm-0;
	padding: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: $vertical-rhythm-0;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 $vertical-rhythm-0 $vertical-rhythm-0;
}
